.App {
    padding-right: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    scroll-behavior: smooth;
    background: #121f30;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
    .App {
        padding-right: 40px;
        padding-bottom: 200px;
        padding-left: 40px;
    }
}

/* 
.tile article {
    transform: translatex(10px);
} */

h1 {
    font-size: 80px;
    font-weight: 900;
    padding-bottom: 20px;
}

.section {
    padding-top: 150px;
    padding-right: 0px;
    padding-bottom: 180px;
    padding-left: 0px;
}

.test-color {
    background-color: #1a2f47;
}

.title {
    padding-bottom: 10px;
}

.title-list {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
}

.tile h3 {
    font-size: 22px;
}

.tile p {
    font-size: 17px;
}

.button {
    padding: 20px;
}
