.footer-section {
    background-color: #121f30;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.473);
    /* color: rgba(255, 255, 255, 0.7); */
}
/* 
.footer-content {
    padding-bottom: 200px;
} */
