.footer-section {
    background-color: #121f30;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.473);
    /* color: rgba(255, 255, 255, 0.7); */
}

/* ---------------------------------------------  */
/* ---------------- MOBILE VIEW ----------------  */
/* ---------------------------------------------  */

@media screen and (max-width: 768px) {
    .footer-text {
        font-size: 12px;
    }
}
