.github-iconSVG {
    transform: translate(214px, 254px);
    color: #01d1b2b0;
    opacity: 0.8;
    transition: 0.3s;
}

.github-iconSVG:hover {
    opacity: 1;
    color: #01d1b2;
    transition: 0.2s;
}

.email-iconSVG {
    color: #01d1b2b0;
    opacity: 0.7;
    transition: 0.3s;
}

.email-iconSVG:hover {
    opacity: 1;
    color: #01d1b2;
    transition: 0.2s;
}

.linkedin-iconSVG {
    transform: translate(232px, 190px);
    color: #01d1b2b0;
    opacity: 0.8;
    transition: 0.3s;
}

.linkedin-iconSVG:hover {
    opacity: 1;
    color: #01d1b2;
    transition: 0.2s;
}

/* ---------------------------------------------  */
/* ---------------- MOBILE VIEW ----------------  */
/* ---------------------------------------------  */

@media screen and (max-width: 768px) {
    .contact-SVG {
        padding-top: 250px;
        /* padding-bottom: 600px; */
        display: block;
    }
}
